Let's get started!!!

In [ ]:
#important libraries
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pylab as p
import sklearn as sol

In [ ]:
data = pd.read_csv("../input/train.csv")
data.head()

In [ ]:
#Get the column names
list(data)

In [ ]:
#Information about data. Finding missing values
data.info()

In [ ]:
# Total Observation: 891
# Missing Values for Age
sum(data['Age'].isnull())

In [ ]:
# Missing Values for Cabin
sum(data['Cabin'].isnull())

In [ ]:
# Missing Values for Embarked
sum(data['Embarked'].isnull())

In [ ]:
# Describing the data: Count, Mean, STD, Min, Max
data.describe()

In [ ]:
# Finding Unique Values
data.Sex.unique()

In [ ]:
data['Embarked'].unique()

In [ ]:
data['Pclass'].unique()

In [ ]:
# counting of male in each Pclass
for i in range(1,4):
    print (i, len(data[(data['Sex'] == 'male') & (data['Pclass'] == i)]))

In [ ]:
# counting of female in each Pclass
for i in range(1,4):
    print (i, len(data[(data['Sex'] == 'female') & (data['Pclass'] == i)]))

In [ ]:
# Passenger class 3 has more passengers as compared to class 1 & 2
# Simple Histogram of age
data['Age'].hist()
p.show()

In [ ]:
# after dropping the age column with null values
data['Age'].dropna().hist(bins = 16, range = (0,80), alpha = 0.5)

In [ ]:
## Cleaning data: Transforming String Values
# Step 1: Adding new gender column and filling with a number
data['gender'] = 4

In [ ]:
# Step 2: Populating new gender column with M or F
data['gender'] = data['Sex'].map(lambda x:x[0].upper())

In [ ]:
# Step 3: Populating gender column with binary
data['gender'] = data['Sex'].map({'female': 0, 'male': 1}).astype(int)

In [ ]:
# Feature Engineering: Extracting titles from the name
def title(name):
    temp1 = name.split(',')
    temp2 = temp1[1].split('.')[0]
    temp3 = temp2.strip()
    return temp3

In [ ]:
data['Title'] = data['Name'].apply(title)

In [ ]:
data[['PassengerId', 'Survived', 'Sex', 'Pclass', 'Age', 'gender', 'Title']].head()

In [ ]:
# counting passenger by title
temp1 = data.groupby('Title')
temp2 = temp1.PassengerId.count()
print(temp2)

In [ ]:
# Barplot : Counting passengers by title
temp2.plot(kind = 'bar')

In [ ]:
# Majority of passengers has title Mr, Miss, Mrs and Master
# Let's rename honorific titles like
# (1) Capt, Don, Dr, Jonkheer, Major, Rev and Sir to Mr; 
# (2) Lady, Mme, Ms, and the Countess to Mrs; 
# (3) Mlle to Miss
##################################
# How many male and female are doctor?
data[data['Title'] == 'Dr']

In [ ]:
# Creating temp column to accomodate female doctor
data['Temp'] = data['Sex'] + data['Title']

In [ ]:
data.loc[data['Temp'] == 'femaleDr', 'Title'] = 'Mrs'

In [ ]:
# drop the temp column
data = data.drop(['Temp'], axis = 1)

In [ ]:
# function to convert titles into Mr, Mrs, Master and Miss
def new_title(title):
    if title == 'Mr' or title == 'Capt' or title == 'Don' or title == 'Dr' or title == 'Jonkheer' or title     == 'Major' or  title == 'Rev' or title == 'Sir' or title == 'Col':
        return 'Mr'
    elif title == 'Mrs' or title == 'Lady' or title == 'Mme' or title == 'Ms' or title == 'the       Countess':
        return 'Mrs'
    elif title == 'Miss' or title == 'Mlle':
        return 'Miss'
    else:
        return 'Master'
    
# changing titles
data['NewTitle'] = data['Title'].apply(new_title)

In [ ]:
# drop title column
data = data.drop(['Title'], axis = 1)

# Counting passengers by titles

In [ ]:
# counting passengers by titles
temp = data.groupby('NewTitle')
temp1 = temp.PassengerId.count()
print (temp1)
temp1.plot(kind = 'bar')

In [ ]:
# now descriptive statistics to predict survival chance
data.boxplot(column = 'Age', by = 'NewTitle')

Some Miss have age > 30, they might not be married or some other case

In [ ]:

data.boxplot(column = 'Fare', by = 'Pclass')

some passengers in class 1 has paid more than $200, they might have paid for whole family

In [ ]:
# passenger distribution by Pclass and survival chance
group1 = data.groupby('Pclass').PassengerId.count()
group1.plot(kind = 'bar')

Almost half of passenger are from class 3

In [ ]:
group2 = data.groupby('Pclass').Survived.sum()
Pclass_Survival_Prob = group2/group1
Pclass_Survival_Prob.plot(kind = 'bar', color = 'Pink', alpha = 0.65)

Class 1 and 2 have greater chance of survival probability then class 3 passengers

# Barplot using cross tab

In [ ]:
group3 = pd.crosstab([data.Pclass, data.Sex], data.Survived)
group3.plot(kind = 'bar', stacked = True, color = ['black', 'yellow'])

More females survived compared to males